<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
    <h1 th:text="|Tasks for ${date}|">Tasks for a specific date</h1>
    <ul>
        <li th:each="task : ${tasksByDate}">
            <a th:href="@{/tasks/{id}(id=${task.getId()})}" th:text="${task.getTitle()}"></a>
        </li>
    </ul>
</body>
</html>
