<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New task</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
    <h1>New task</h1>

    <form th:action="@{/tasks}" th:method="post" th:object="${task}">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title" />
        <div style="color: red;" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>

        <br>

        <label for="description">Description</label>
        <input type="text" th:field="*{description}" id="description" />
        <div style="color: red;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</div>

        <br>

        <label for="dueDate">Due date</label>
        <input type="date" th:field="*{dueDate}" id="dueDate">

        <br>

        <input type="submit" value="Add">
    </form>
</body>
</html>
